body{
    background: #ad5389;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3c1053, #ad5389);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3c1053, #ad5389); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
@media(max-width:500px){
    .card.hovercard .cardheader {
        height: 200px !important;
    }
    
    .card.hovercard .avatar img {
        max-height: 220px;
        height: 220px;
    }
    
    .card.hovercard {
      min-height: 720px !important;  
      margin-bottom: 0px !important;    
    }

}
.col-sm-12{
    padding-right: 0px;
}
.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}

.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    margin-top: 20px;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
    min-height: 100vH;
    background: white;
}

.card.hovercard .cardheader {
    background: url("../images/iron_man.jpg");
    background-size: cover;
    height: 335px;
}

.card.hovercard .avatar {
    position: relative;
    top: -125px;
    margin-bottom: -120px;
}

.card.hovercard .avatar img {
    width: 230px;
    height: 240px;
    max-width: 230px;
    max-height: 240px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
font-family: 'Acme', sans-serif;
/*    color: #262626;*/
    color: red;
    vertical-align: middle;
}

.title a{
    color: red;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 15px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

.btn{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }

.dot{
    color: black !important;
    font-size: 6px;
    vertical-align: middle;
}

.empty{
    height: 30px;
}

.padded{
    padding: 0 5% !important;
    color: black !important;
    font-family: 'Vollkorn', serif;
/*    font-family: 'Apercu',sans-serif;*/
    font-size: 16px !important;
}

.underline{
/*    text-decoration: underline;*/
    cursor: pointer;
    color: red;
    
}
.underline a{
    color: red;
    text-decoration: none;
}

.underline a:hover{
    text-decoration: underline;
}

.btn{
/*    border-radius: 20% !important;*/
}

.btn-fb{
    background: rgb(66,94,163);
}

.btn-ln{
    background: rgb(0,116,187);
}

.fa{
    margin-top: 5px;
}

.fa-linkedin{
    margin-top: 3px;
}

.about{
/*    font-family: cursive;*/
    font-size: 1.25rem !important;
/*    font-weight: 700 !important;*/
    font-family: 'Vollkorn', serif;
    font-weight: 400;
/*    font-family: 'Gloria Hallelujah', cursive;*/
}

.lined{
    border-bottom: 1px rgba(0,0,0,0.2) outset;
    padding-bottom: 20px;
    font-family: 'Noticia Text', serif;
    font-size: 16px !important;
}

.bt1{
    margin-top: 2.5px !important;
}

.footer{
    font-size: 12px !important;
}